:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --adress-hero-color: #FFFFFF;
    --hover-color: #2196F3;
    --hero-bgc: #2F303A;
    --header-border-color: #ECECEC;
    --image-border-color: #EEEEEE;
    --first-logo-color: #000000;
    --second-logo-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-bgc: #2F303A;
    --section-command-bgc: #F5F4FA;
    --button-hover-bgc: rgba(24, 140, 232, 1);
    --general-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --button-font-family: inherit;
}

html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

ul,
li,
p,
span,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    color: var(--main-color);
    font-family: var(--general-font), var(--secondary-font);
}

.container {
    outline: 1px solid green;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.section {
    outline: 1px solid blue;
    padding: 94px 0;
}

.header {
    border-bottom: 1px solid var(--header-border-color);
}

/* Logo header footer */
.logo {
    /* outline: 1px solid yellow; */
    display: inline-block;
    padding: 24px 0 25px 0;
    margin-right: 93px;
    min-width: 145px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;
}

.logo-web {
    color: var(--second-logo-color);
}

.logo-studio {
    color: var(--first-logo-color);
}

.logo-foot {
    color: var(--adress-hero-color);
}

.footer-logo {
    display: inline-block;
    min-width: 145px;
    padding: 60px 0px 20px 0px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Навігація */

.flex-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    
    
    outline: 1px solid pink;
    margin-right: 50px;
    list-style-type:none;
}


/* Лінки навігації */

.menu {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.menu .nav-list:last-child {
    margin-right: 0;
}


.menu-link {
    display: block;
    min-width: 49px;
    padding: 32px 0px;
    color: var(--main-color);
    text-decoration: none;
}



.current {
    display: block;
    min-width: 49px;
    padding: 32px 0px;
    text-decoration: none;
    text-align: center;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--hover-color);
}


.current:hover,
.current:focus {
    color: var(--hover-color);
}

/* Поточна сторінка */
.current:current {
    color: var(--hover-color);
}

/* Контакти в хедері */
.contact {
    display: flex;
    margin-left: auto; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style-type: none;
    letter-spacing: 0.02em;
    text-align: center;
}

.contact-item {
    display: flex;
    margin-right: 50px;}


.contact-link {
    display: block;
    min-width: 122px;
    padding: 32px 0;
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-color);
}

/* .contact .contact-item:first-child {
    margin-left: 331px;
} */

.contact .contact-item:last-child {
    margin-right: 0;
}

/* HERO */

.hero {
    background-color: var(--hero-bgc);
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-top: 106px;
    color: var(--adress-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

/* hero-button */
.hero-button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    margin-top: 30px;
    margin-bottom: 106px;
    min-width: 200px;
    cursor: pointer;
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--button-hover-bgc);
}

/* вторинні заголовки */

.title-hide {
    display: none;
}

/* Заголовки Н2 */
.title {
    margin-bottom: 50px;
    min-width: 376px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Секція переваг */

.benefits {
    display: flex;
    list-style-type: none;
}

.benefits-list {
    display: inline-block;
    margin-right: 30px;
    text-align: center;
}

.benefits-title {
    display: inline-block;
    margin-bottom: 10px;
    min-width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.benefits-description {
    color: var(--secondary-color);
    min-width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits .benefits-list:last-child {
    margin-right: 0;
}


/* Стилі картинок */

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.images {
    justify-content: center;
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    list-style-type: none;
}

.image-list {
    width: 370px;
    margin-right: 30px;
}

.image-list:nth-child(3n) {
    margin-right: 0;
}

/* Команда  */

.command {
    justify-content: center;
    background-color: var(--section-command-bgc);
    text-align: center;
}
.photo {
    display: block;
    /* text-align: center; */
}


.team {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.work {
    color: var(--secondary-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-work {
    min-width: 147px;
    padding: 30px 24px;
}
/* footer */
.footer {
    background-color: var(--footer-bgc);
}

/* Навігація футера */
.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.adress-contacts:hover,
.adress-contacts:focus {
    color: var(--hover-color);
}



/* Посилання на карти */

.adress-link {
    color: var(--adress-hero-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.map-link {
    display: block;
    min-width: 231px;
    margin-bottom: 9px;
    
}

.adress-link:hover {
    color: var(--hover-color);
}

/* Список  */
.contact-list {
    min-width: 231px;
    list-style-type: none;
} 


/* Базові тилі телфону і пошти */
.adress-list {
    margin-bottom: 9px;
    min-width: 124px;
}

.contact-list .adress-list:last-child {
    margin-bottom: 0;
    padding-bottom: 60px;
}

/* Тел і пошта */
.adress-contacts {
    display: block;
    color: var(--footer-contacts-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}





/* Portfolio */


.project {
    
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.product {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project-product {
    padding: 20px 24px;
}

/* Кнопки портфоліо */


.but {
    justify-content: center;
    display: inline-block;
    display: flex
}

.buttons-list {
    margin-right: 8px;
    margin-bottom: 50px;
    list-style-type: none;
}

.but .buttons-list:last-child {
    margin-right: 0;
    
}

.buttons {
    padding: 0px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--section-command-bgc);
    font-family: var(--button-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.buttons:hover,
.buttons:focus {
    background-color: var(--hover-color);
    color: var(--adress-hero-color);
}
